body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    /* height: 200px; */
}

.name{
    margin-top: 20px;
}

.age{
    margin-top: 20px;
}

.phone{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}

.submitBtn > button{
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background-color: darkgreen;
}